$icon-variants: (
	base: (
		color: var(--c-base-text),
		color-hover: var(--c-text),
		color-active: var(--c-primary),
		color-disabled: var(--c-neutral-400),
		w-mob: 18px,
		h-mob: 18px,
		w-tab: 20px,
		h-tab: 20px,
		w-desk: 20px,
		h-desk: 20px,
	),
	primary: (
		color: var(--c-primary),
		color-hover: var(--c-primary-hover),
		color-active: var(--c-primary-active),
		color-disabled: var(--c-neutral-400),
		w-mob: 18px,
		h-mob: 18px,
		w-tab: 20px,
		h-tab: 20px,
		w-desk: 20px,
		h-desk: 20px,
	),
	secondary: (
		color: var(--c-neutral-400),
		color-hover: var(--c-base-text),
		color-active: var(--c-primary),
		color-disabled: var(--c-neutral-300),
		w-mob: 16px,
		h-mob: 16px,
		w-tab: 18px,
		h-tab: 18px,
		w-desk: 18px,
		h-desk: 18px,
	),
);
