$input-variants: (
	base: (
		color: var(--c-text),
		bg: var(--c-input-bg),
		bg-hover: var(--c-input-bg-hover),
		bg-click: var(--c-input-bg),
		color-active: var(--c-text),
		bg-active: var(--c-primary-light),
		size-mob: var(--fs-sm),
		size-tab: var(--fs-base),
		size-desk: var(--fs-base),
		lh-mob: var(--lh-normal),
		lh-tab: var(--lh-normal),
		lh-desk: var(--lh-normal),
		padding: var(--spacing-sm) var(--spacing-md),
		radius: var(--radius-md),
		border: 1px solid var(--c-border),
	),
	primary: (
		color: var(--c-text),
		bg: var(--c-input-bg),
		bg-hover: var(--c-input-bg-hover),
		bg-click: var(--c-input-bg),
		color-active: var(--c-text),
		bg-active: var(--c-primary-light),
		size-mob: var(--fs-sm),
		size-tab: var(--fs-base),
		size-desk: var(--fs-base),
		lh-mob: var(--lh-normal),
		lh-tab: var(--lh-normal),
		lh-desk: var(--lh-normal),
		padding: var(--spacing-sm) var(--spacing-md),
		radius: var(--radius-md),
		border: 1px solid var(--c-primary),
	),
	secondary: (
		color: var(--c-text),
		bg: transparent,
		bg-hover: transparent,
		bg-click: transparent,
		color-active: var(--c-text),
		bg-active: transparent,
		size-mob: var(--fs-sm),
		size-tab: var(--fs-base),
		size-desk: var(--fs-base),
		lh-mob: var(--lh-normal),
		lh-tab: var(--lh-normal),
		lh-desk: var(--lh-normal),
		padding: var(--spacing-sm) 0,
		radius: 0,
		border: none,
		border-bottom: 1px solid var(--c-border),
	),
);
