$select-variants: (
	base: (
		color: var(--c-text),
		bg: var(--c-input-bg),
		bg-hover: var(--c-input-bg),
		bg-click: var(--c-input-bg),
		color-active: var(--c-text),
		bg-active: var(--c-primary-light),
		padding: var(--spacing-sm) var(--spacing-md),
		radius: var(--radius-md),
		border: 1px solid var(--c-border),
	),
	primary: (
		color: var(--c-text),
		bg: var(--c-input-bg),
		bg-hover: var(--c-input-bg),
		bg-click: var(--c-input-bg),
		color-active: var(--c-text),
		bg-active: var(--c-primary-light),
		padding: var(--spacing-sm) var(--spacing-md),
		radius: var(--radius-md),
		border: 1px solid var(--c-primary),
	),
	secondary: (
		color: var(--c-text),
		bg: transparent,
		bg-hover: var(--c-surface-hover),
		bg-click: transparent,
		color-active: var(--c-text),
		bg-active: transparent,
		padding: var(--spacing-sm) var(--spacing-md),
		radius: var(--radius-md),
		border: 1px solid var(--c-border),
	),
);
