$checkbox-variants: (
	base: (
		bg: var(--c-page-bg),
		bg-hover: var(--c-neutral-50),
		bg-click: var(--c-neutral-100),
		bg-active: var(--c-primary),
		bg-checked: var(--c-primary),
		bg-checked-active: var(--c-primary-active),
		border: 2px solid var(--c-border),
		border-checked: 2px solid var(--c-primary),
		radius: var(--radius-sm),
		w-mob: 18px,
		h-mob: 18px,
		w-tab: 20px,
		h-tab: 20px,
		w-desk: 20px,
		h-desk: 20px,
	),
	primary: (
		bg: var(--c-page-bg),
		bg-hover: var(--c-primary-light),
		bg-click: var(--c-primary-light-active),
		bg-active: var(--c-primary),
		bg-checked: var(--c-primary),
		bg-checked-active: var(--c-primary-active),
		border: 2px solid var(--c-primary),
		border-checked: 2px solid var(--c-primary),
		radius: var(--radius-sm),
		w-mob: 18px,
		h-mob: 18px,
		w-tab: 20px,
		h-tab: 20px,
		w-desk: 20px,
		h-desk: 20px,
	),
	secondary: (
		bg: var(--c-page-bg),
		bg-hover: var(--c-neutral-50),
		bg-click: var(--c-neutral-100),
		bg-active: var(--c-base-active),
		bg-checked: var(--c-base-text),
		bg-checked-active: var(--c-text),
		border: 2px solid var(--c-neutral-200),
		border-checked: 2px solid var(--c-base-text),
		radius: var(--radius-sm),
		w-mob: 18px,
		h-mob: 18px,
		w-tab: 20px,
		h-tab: 20px,
		w-desk: 20px,
		h-desk: 20px,
	),
);
