$pagination-variants: (
	base: (
		color: var(--c-text),
		bg: var(--c-base-bg),
		bg-hover: var(--c-base-hover),
		bg-click: var(--c-base-active),
		color-active: var(--c-primary-text),
		bg-active: var(--c-primary),
		size-mob: var(--fs-sm),
		size-tab: var(--fs-base),
		size-desk: var(--fs-base),
		lh-mob: var(--lh-normal),
		lh-tab: var(--lh-normal),
		lh-desk: var(--lh-normal),
		padding: var(--spacing-xs) var(--spacing-sm),
		radius: var(--radius-sm),
	),
	primary: (
		color: var(--c-primary-text),
		bg: var(--c-primary),
		bg-hover: var(--c-primary-hover),
		bg-click: var(--c-primary-active),
		color-active: var(--c-primary-text),
		bg-active: var(--c-primary-active),
		size-mob: var(--fs-sm),
		size-tab: var(--fs-base),
		size-desk: var(--fs-base),
		lh-mob: var(--lh-normal),
		lh-tab: var(--lh-normal),
		lh-desk: var(--lh-normal),
		padding: var(--spacing-xs) var(--spacing-sm),
		radius: var(--radius-sm),
	),
	secondary: (
		color: var(--c-primary),
		bg: transparent,
		bg-hover: var(--c-primary-light),
		bg-click: var(--c-primary-light-active),
		color-active: var(--c-primary-active),
		bg-active: var(--c-primary-light),
		size-mob: var(--fs-sm),
		size-tab: var(--fs-base),
		size-desk: var(--fs-base),
		lh-mob: var(--lh-normal),
		lh-tab: var(--lh-normal),
		lh-desk: var(--lh-normal),
		padding: var(--spacing-xs) var(--spacing-sm),
		radius: var(--radius-sm),
		border: 1px solid var(--c-primary),
	),
);
